<div class="wrap-top">
  <div class="top-container clearfix">
    <div class="china-newIndex-top-banner-promo" style="background-color: #ba1200 ">
      <div class="wrap">
        <div class="mid-banner fl">
          <span class="next J_next"></span>
          <span class="before J_before"></span>
          <div id="J_BannerSlideMid" class="banner-wrap">
              <div class="slides_container tab-content">
                <div class="tab-pannel">
                  <a href="https://www.taobao.com/markets/food/xzwz" target="_blank">
                    <img src="https://img.alicdn.com/imgextra/i2/1830591748/TB2pObeqVXXXXbCXXXXXXXXXXXX_!!1830591748.jpg">
                  </a>
                </div>
                <div class="tab-pannel">
                  <a href="https://www.taobao.com/markets/food/qlj" target="_blank">
                    <img src="https://img.alicdn.com/tps/TB1gn38KpXXXXc0XFXXXXXXXXXX-714-448.jpg">
                  </a>
                </div>
              </div>
              <ul class="tab-nav clearfix"></ul>
          </div>
        </div>
        <div class="top-banner">
          <div id="J_imgBannerSlide">
          <div class="banner tab-content">
                  <div class="img-wrap tab-pannel">
                    <img src="https://img.alicdn.com/imgextra/i2/1830591748/TB2M_8AqFXXXXbaXpXXXXXXXXXX_!!1830591748.jpg_q90.jpg">
                  </div>
          </div>
          <ul class="tab-nav clearfix"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

