<div class="floor_block like-recommend" id="J_likeRecommend" data-spm="like">
  <div class="head">
      <h1>
          <img src="//img.alicdn.com/tps/TB1zJFmKpXXXXcAaXXXXXXXXXXX-221-18.png" alt="">
      </h1>
  </div>
  <div class="content-box clearfix">
  <% for (var i = 0; i < 20; i++) { %>
  <%- app.control('elements/itemBox') %>
  <% } %>
  </div>
</div>

