<div class="floor_block today-recommend" id="J_todayRecommend" data-spm="today">
  <div class="head">
      <h1>
          <img src="//img.alicdn.com/tps/TB1J2FDKpXXXXbDXFXXXXXXXXXX-205-18.png" alt="">
      </h1>
  </div>
  <div class="content-box clearfix">
    <% for (var i = 0; i < 10; i++) { %>
      <%- app.control('elements/itemBox') %>
    <% } %>
  </div>
</div>

