  <div class="footer-bd">
    <p>
      <a href="//www.taobao.com/about">关于淘宝</a>
      <a href="//www.taobao.com/about/partners.php">合作伙伴</a>
      <a href="//pro.taobao.com">营销中心</a>
      <a href="//jubao.alibaba.com" >廉正举报</a>
      <a href="//service.taobao.com/support/main/service_route.htm">联系客服</a>
      <a href="//open.taobao.com">开放平台</a>
      <a href="//www.taobao.com/about/join.php">诚征英才</a>
      <a href="//www.taobao.com/about/contact.php">联系我们</a>
      <a href="//www.taobao.com/sitemap.php">网站地图</a>
      <a href="//www.taobao.com/go/chn/tb-fp/2014/law.php">法律声明</a>
      <em>&copy; 2016 Taobao.com 版权所有</em>
    </p>
    <p>
      <span>网络文化经营许可证：<a href="//img04.taobaocdn.com/tps/i4/T1ysdvXtNeXXcPpEkQ-972-636.jpg">文网文[2010]040号</a></span>
      <b>|</b>
      <span  data-spm-protocol="i">增值电信业务经营许可证：<a href="http://zcainfo.miitbeian.gov.cn/state/outPortal/loginPortal.action">浙B2-20080224-1</a></span>
      <b>|</b>
      <span>信息网络传播视听节目许可证：1109364号</span>
      <b>|</b>
      <span>互联网违法和不良信息举报电话：0571-81683755</span>
    </p>
  </div>

