  <div class="footer-ft">
    <a href="//www.pingpinganan.gov.cn/web/index.aspx?file=index.aspx"><img width="36" height="36" src="//gtd.alicdn.com/tps/i1/T1FeW3XXNfXXXXXXXX-36-36.gif"></a>
    <a href="//idinfo.zjaic.gov.cn/bscx.do?method=hddoc&id=33018400000067" class="mod mod-a"></a>
    <a href="//idinfo.zjaic.gov.cn/bscx.do?&method=hddoc&id=33018400000067" class="mod mod-b"></a>
    <a href="//www.theclimategroup.org.cn/about/friend" class="mod mod-c"></a>
    <a href="https://ss.cnnic.cn/verifyseal.dll?&sn=2010062300100001357&pa=20100701" class="mod mod-d"></a>
    <a href="//www.ppaaol.com/verifySite.do?id=1051" class="mod mod-e"></a>
  </div>

