<div class="footer-hd">
  <p>
    <a href="//page.1688.com/shtml/about/ali_group1.shtml">阿里巴巴集团</a>
    <b>|</b>
    <a href="//www.alibaba.com">阿里巴巴国际站</a>
    <b>|</b>
    <a href="//www.1688.com">阿里巴巴中国站</a>
    <b>|</b>
    <a href="//www.aliexpress.com">全球速卖通</a>
    <b>|</b>
    <a href="//www.taobao.com">淘宝网</a>
    <b>|</b>
    <a href="//www.tmall.com">天猫</a>
    <b>|</b>
    <a href="//ju.taobao.com">聚划算</a>
    <b>|</b>
    <a href="//www.etao.com">一淘</a>
    <b>|</b>
    <a href="//www.alimama.com">阿里妈妈</a>
    <b>|</b>
    <a href="//trip.taobao.com">淘宝旅行</a>
    <b>|</b>
    <a href="//www.xiami.com">虾米</a>
    <b>|</b>
    <a href="//www.aliyun.com">阿里云计算</a>
    <b>|</b>
    <a href="//www.yunos.com">云OS</a>
    <b>|</b>
    <a href="//www.net.cn">万网</a>
    <b>|</b>
    <a href="//www.alipay.com">支付宝</a>
    <b>|</b>
    <a href="//www.laiwang.com/">来往</a>
  </p>
</div>

