<div class="room-item">
  <a class="img" href="https://suining.china.taobao.com/" target="_blank">
    <img src="https://img.alicdn.com/tps/TB10U_mJVXXXXbVXXXXXXXXXXXX-226-82.jpg" height="80" width="226">
      <div class="cover J_askNum" data-name="遂宁">
        <span class="name">遂宁馆</span>
        <span class="num"></span>
      </div>
  </a>
  <div class="special-cat">
      <a class="hot" href="//s.taobao.com/list?q=太和豆豉&source=tesechina&oeid=241000&nocombo=true" target="_blank">太和豆豉</a>
      <a href="//s.taobao.com/list?q=射洪牛肉&source=tesechina&oeid=241000&nocombo=true" target="_blank">射洪牛肉</a>
      <a href="//s.taobao.com/list?q=盆盆虾&source=tesechina&oeid=241000&nocombo=true" target="_blank">盆盆虾</a>
      <a href="//s.taobao.com/list?q=糍粑块&source=tesechina&oeid=241000&nocombo=true" target="_blank">糍粑块</a>
      <a href="//s.taobao.com/list?q=香酥鸭&source=tesechina&oeid=241000&nocombo=true" target="_blank">香酥鸭</a>
  </div>
</div>

