<div class="room-item">
    <a class="img" href="https://baoji.china.taobao.com/" target="_blank">
      <img src="https://img.alicdn.com/tps/TB1c3jrHVXXXXaIXFXXXXXXXXXX-226-82.jpg" height="80" width="226">
        <div class="cover J_askNum" data-name="宝鸡">
          <span class="name">宝鸡馆</span>
          <span class="num"></span>
        </div>
    </a>
  <div class="special-cat">
    
      
      <a href="//s.taobao.com/list?q=中蜂蜂蜜&source=tesechina&oeid=241000&nocombo=true" target="_blank">中蜂蜂蜜</a>
      
    
      
      <a class="hot" href="//s.taobao.com/list?q=凤县大红袍花椒&source=tesechina&oeid=241000&nocombo=true" target="_blank">凤县大红袍花椒</a>
      
    
      
      <a class="hot" href="//s.taobao.com/list?q=岐山挂面&source=tesechina&oeid=241000&nocombo=true" target="_blank">岐山挂面</a>
      
    
      
      <a href="//s.taobao.com/list?q=岐山锅盔&source=tesechina&oeid=241000&nocombo=true" target="_blank">岐山锅盔</a>
      
    
      
      <a href="//s.taobao.com/list?q=眉县猕猴桃&source=tesechina&oeid=241000&nocombo=true" target="_blank">眉县猕猴桃</a>
      
    
  </div>
</div>

